# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
.env
.venv/

# Docker
.env*
docker-compose.override.yml

# Data (excluindo .gitkeep)
data/*/**
!data/*/.gitkeep

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

#Uploads diretos (/uploads) serve para enviar arquivos local para o servidor
/uploads*